.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.surface {
	padding: 20px;
	margin-bottom: 35px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
